.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  background-color: #f5f5f5;
}

.total-amount {
  font-size: 24px;
  color: #cccccc;
  margin-left: 120px;
}

.checkout-button {
  width: 144px;
  height: 38px;
  border: 0;
  background-color: #3d3d3d;
  color: white;
  border-radius: 24px;
  font-size: 16px;
  margin-right: 135px;
}
